 .order {
    padding: 50px 15px;
    background-color: $color-light;
    visibility: hidden;

    

    @include for-large-medium {
      display: block;
      width: 100%;
    }
    
    @include for-large-up {
       padding: 73px 0 72px 0;
       padding-left: 132px;
       display: flex;
       justify-content: center;
       align-items: flex-start;
    }


    &__details {

      max-width: 100%;

      @include for-large-up {
          max-width: 616px;
          margin-right: 205px;
          margin-left: 60px;
       }
    }


    
    
    &__illustration {
    margin: auto;
    display: flex;
    align-items: center;
    
    max-width: 100%;


      @include for-large-up {
        max-width: 100%;
        margin: 0;
        margin-right: 103px;
      }
    }
    

    &__title  {
      font-weight: 700;
      font-size:40px;
      line-height:40px;
      letter-spacing: -0.35143px;
      margin-bottom: 12px;
      

    }

    &__text {
      width: 530px;
      font-size: 24px;
      line-height: 34px;
      margin: 0;
      
    }


    &__form {

      @include for-large-up {
        display: flex;
      }
    }

    &__email {
      margin-top: 40px;
      background: #ffffff;
      border: 1px solid $border-color;
      border-radius: 2px;
      height: 48px;
      width: 100%;
      text-align: center;
      font-size: 18px;
      line-height: 13px;

      @include for-large-up {
        margin-top: 20px;
      }
      

      &::placeholder {
        color: $color-dark;
      }
    }

    &__button {
      margin-top: 12px;
      

      @include for-large-down {
        width: 100%;
      }

      @include for-large-up {
        margin-top: 20px;
        margin-left: 10px;
        flex-shrink: 0;

      }
    }

    &__terms {

      font-size: 14px;
      line-height: 22px;
      color: $text-color-light-grey;
    }

    &__terms-link {

      color: $text-color-blue;

    }


    }

